<div class= "postedby">
  <%= response.member.user_name %>
</div>
<div class="thumbimage">
  <%= image_tag response.member.avatar.url("small") unless response.member.nil? %>
</div>
<%= response.content %>
<br/>
<%="#{time_ago_in_words response.created_at}  ago"%>
<hr/>
